.header {
    position: fixed;
    width: 100%;
    z-index: 1;
    &-contents {
        background-color: #101d30;
        padding: 5px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-logo {
            &-mobile {
                display: none;
            }
        }
        &-links {
            text-align: center;
            color: white;
            list-style: none;
            width: 100%;
            padding: 0 150px;
            display: flex;
            justify-content: space-between;
            &-link {
                font-family: "Rubik";
                font-size: 2rem;
                font-weight: 200;
                color: white;
                text-decoration: none;
                text-shadow: .5px .5px dodgerblue;
                &:hover {
                    color: lightgray;
                }
            }
        }
        &-slogan {
            &-mobile {
                display: none;
            }
        }
    }
    &-mobilelinks {
        display: none;
        justify-content: space-evenly;
        
    }
}

@media only screen and (max-width: 1400px) {
    .header {
        &-contents {
            &-logo {
            
            }
            &-links {
                padding: 0 100px;
            }
            &-slogan {

            }
        }
    }
}

@media only screen and (max-width: 1300px) {
    .header {
        &-contents {
            &-logo {
                &-desktop {
                    display: none;
                }
                &-mobile {
                    display: block;
                }
            }
            &-slogan {
                &-desktop {
                    display: none;
                }
                &-mobile {
                    display: block;
                }
            }
        }
    }
}
@media only screen and (max-width: 1300px) {
    .header {
        &-contents {
            &-links {
                display: none;
            }

        }
        &-mobilelinks {
            display: flex;
        }
    }
}

@media only screen and (max-width: 700px) {
    .header {
        &-contents {
            padding: 10px 10px;
            &-logo {
                &-desktop {
                    display: none;
                }
                &-mobile {
                    display: block;
                }
            }
            &-links {
                display: none;
                &-link {
                   font-size: 1.5rem; 
                }
            }
            &-slogan {
                &-desktop {
                    display: none;
                }
                &-mobile {
                    display: block;
                }
            }
        }
    }
}