body {
    margin: 0;
    overflow-x: hidden;
}

.index {
    background-image: url("../images/brewery1bbl.jpg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    &-main {
        padding: 0 10%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}



@media only screen and (max-width: 1400px) {
    .index {
        background-image: url("../images/brewery1bbl1400.jpg");
    }
}
@media only screen and (max-width: 1300px) {
    .index {
        background-image: url("../images/brewery1bbl1300.jpg");
    }
}
@media only screen and (max-width: 1000px) {
    .index {
        background-image: url("../images/brewery1bbl1000.jpg");

    }
}
@media only screen and (max-width: 750px) {
    .index {
        background-image: url("../images/brewery1bbl750.jpg");
    }
}
@media only screen and (max-width: 500px) {
    .index {
        background-image: url("../images/brewery1bbl500.jpg");

    }
}