@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
      @content;
    }
    @-moz-keyframes #{$animation-name} {
      @content;
    }  
    @-ms-keyframes #{$animation-name} {
      @content;
    }
    @-o-keyframes #{$animation-name} {
      @content;
    }  
    @keyframes #{$animation-name} {
      @content;
    }
  }
  
  @mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};      
  }
  
  @include keyframes(fade-in) {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

body {
    margin: 0;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: auto;
}

.index {
    background-image: url("../images/brewery1bbl.jpg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    &-main {
        margin-top: 25vh;
        padding: 0 7%;
        display: flex;
        justify-content: space-between;
        &-image {
            width: 600px;
            & img {
                @include animation('fade-in 10s');
            }
        }
        &-card {
            width: 50%;
            & h1 {
                color: white;
                font-family: Rubik;
                font-weight: 400;
            }
            &-links {
                padding: 50px 0;
                display: flex;
                justify-content: space-around;
                & button {
                    padding: 20px;
                    background: gold;
                    border: transparent;
                    border-radius: 2px;
                    font-family: Rubik;
                    font-size: 1.25rem;
                }
            }
        }
    }
}





@media only screen and (max-width: 1400px) {
    .index {
        background-image: url("../images/brewery1bbl1400.jpg");
    }
}
@media only screen and (max-width: 1300px) {
    .index {
        background-image: url("../images/brewery1bbl1300.jpg");
    }
}
@media only screen and (max-width: 1000px) {
    .index {
        background-image: url("../images/brewery1bbl1000.jpg");

    }
}
@media only screen and (max-width: 750px) {
    .index {
        background-image: url("../images/brewery1bbl750.jpg");
    }
}
@media only screen and (max-width: 500px) {
    .index {
        background-image: url("../images/brewery1bbl500.jpg");

    }
}