body {
    margin: 0;
    overflow-x: hidden;
}

.main {
    background-image: url("../images/brewery1bbl.jpg");
    background-repeat: no-repeat;
    min-height: 100vh;
}

@media only screen and (max-width: 1400px) {
    .main {
        background-image: url("../images/brewery1bbl1400.jpg")
    }
}
@media only screen and (max-width: 1300px) {
    .main {
        background-image: url("../images/brewery1bbl1300.jpg")
    }
}
@media only screen and (max-width: 1000px) {
    .main {
        background-image: url("../images/brewery1bbl1000.jpg")
    }
}