.tapbeer {
    font-family: Raleway;
    color: white;
    margin: 10px 0;
    padding: 1% 3%;
    width: 560px;
    &-top {
        background: black;
        border-top: 1px solid lightgray;
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-name {
            width: 280px;
            & p {
                text-align: center;
            }
        }
    }
    &-center {
        background: white;
        color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-origin {
            width: 280px;
            text-align: center;
        }
        &-details {
            width: 280px;
            text-align: center;
        }
    }

}

