.taprooms {
    background: #101d30;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    &-main {
        margin-top: 20vh;
        &-title {
            text-align: center;
            color: white;
            font-family: Rubik;
            font-weight: 400;
            font-size: 2.5rem;
        }
        &-body {
            width: 80%;
            margin: auto;
            margin-top: 75px;
            display: flex;
            justify-content: space-between;
            &-card {
                &-image {
                    width: 35vw;
                    margin: 5px 0;
                    
                }
                &-title {
                    text-align: center;
                    color: white;
                    font-family: Rubik;
                    font-weight: 200;
                    font-size: 1.8vw;
                    margin: 25px 0;
                }
                &-links {
                    margin: 50px 0;
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
                    justify-items: center;
                    & a {
                        text-decoration: none;
                    }
                    & button {
                        width: 10vw;
                        padding: 5px 0;
                        font-size: 1.2vw;
                        background-image: linear-gradient(to right, orange 0%, gold 50%, orange 100%);
                        border: 1px solid transparent;
                        border-radius: 3px;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    .taprooms {
        &-main {
            &-body {
                flex-direction: column;
                &-card {
                    width: 100%;
                    &-image {
                        margin: auto;
                        width: 50vw;
                    }
                    &-title {
                        font-size: 2.5vw;
                    }
                    &-links {
                        margin: 50px auto;
                        width: 50vw;
                        & button {
                            width: 15vw;
                            font-size: 1.6vw;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .taprooms {
        &-main {
            &-body {
                width: 95%;
                &-card {
                    width: 100%;
                    &-image {
                        //margin: auto;
                        max-width: 90vw;
                    }
                    &-title {
                        font-size: 2.5vw;
                    }
                    &-links {
                        margin: 50px auto;
                        width: 50vw;
                        & button {
                            width: 15vw;
                            font-size: 1.6vw;
                        }
                    }
                }
            }
        }
    }
}

// @media only screen and (max-width: 1700px) {
//     .taprooms {
//         &-main {
//             &-body {
//                 width: 85%;
//             }
//         }
//     }
// }

// @media only screen and (max-width: 1550px) {
//     .taprooms {
//         &-main {
//             &-body {
//                 width: 90%;
//             }
//         }
//     }
// }

// @media only screen and (max-width: 1450px) {
//     .taprooms {
//         &-main {
//             &-body {
//                 width: 95%;
//             }
//         }
//     }
// }